LITEPAN_URL=http://127.0.0.1:5211
LITEPAN_API_KEY=your_litepan_api_key
EVENT_NAME=quarkauto
SOURCE=qas
LISTEN_PORT=8000
SHARED_TOKEN=
FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/your_bot_hook_id
